.curr_list {
    padding: 8px 16px;
    height: 37px;
    width: 176px;
}

#curr_list_2 {
    padding: 8px 16px;
    height: 37px;
    width: 176px;
    display: flex;
}

img {
    pointer-events: none;
}

/* .from:hover>.input1 {
    display: none;
} */

.input1:focus-within+.country_list1 {
    border-width: 2px !important;
    border-color: #F3F4F6 !important;
}

.input1:focus-within+.country_list1>.country_list1_2 {
    border: 1px #E5E7EB solid !important;
}

.input2:focus-within+.country_list2 {
    border-width: 2px !important;
    border-color: #F3F4F6 !important;
}

.input2:focus-within+.country_list2>.country_list2_2 {
    border: 1px #E5E7EB solid !important;
}